[submodule "nemo-eva"]
	path = nemo-eva
	url = https://github.com/jstriebel/nemo-eva 
[submodule "Jupyter-on-Euler-or-Leonhard-Open"]
	path = Jupyter-on-Euler-or-Leonhard-Open
	url = https://gitlab.ethz.ch/sfux/Jupyter-on-Euler-or-Leonhard-Open 
[submodule "girg-sampling"]
	path = girg-sampling
	url = https://github.com/gavento/girg-sampling
